{% extends 'base.html' %}

{% block title %}event{% endblock %}

{% block head %}{% endblock %}

{% block main %}
    <header class="header"><h1>故障事件</h1><hr></header>
 <div class="container">

     <div>
        <a class="btn btn-primary" href="#" role="button">添加记录</a>&emsp;
        <a class="btn btn-danger" href="#" role="button">删除记录</a>
    </div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>编号</th>
						<th>故障事件名称</th>
                        <th>故障发生时间</th>
						<th>故障状态</th>
                        <th>处理开始时间</th>
                        <th>处理结束时间</th>
						<th>处理人员</th>
                        <th>类型</th>
                        <th>级别</th>
                        <th>详细</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-hover">
						<td>1</td>
						<td>web1宕机</td>
						<td>2018-01-15 11:31</td>
                        <td>页面无法访问</td>
                        <td>2018-01-15 11:31</td>
                        <td>2018-01-15 11:31</td>
                        <td>admin</td>
                        <td>系统故障</td>
                        <td>I级</td>
                        <td><a href="#">查看</a></td>
					</tr>
                	<tr class="table-hover">
						<td>1</td>
						<td>web1宕机</td>
						<td>2018-01-15 11:31</td>
                        <td>页面无法访问</td>
                        <td>2018-01-15 11:31</td>
                        <td>2018-01-15 11:31</td>
                        <td>admin</td>
                        <td>系统故障</td>
                        <td>I级</td>
                        <td><a href="#">查看</a></td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>web1宕机</td>
						<td>2018-01-15 11:31</td>
                        <td>页面无法访问</td>
                        <td>2018-01-15 11:31</td>
                        <td>2018-01-15 11:31</td>
                        <td>admin</td>
                        <td>系统故障</td>
                        <td>I级</td>
                        <td><a href="#">查看</a></td>
					</tr>
                	<tr class="table-hover">
						<td>1</td>
						<td>web1宕机</td>
						<td>2018-01-15 11:31</td>
                        <td>页面无法访问</td>
                        <td>2018-01-15 11:31</td>
                        <td>2018-01-15 11:31</td>
                        <td>admin</td>
                        <td>系统故障</td>
                        <td>I级</td>
                        <td><a href="#">查看</a></td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>web1宕机</td>
						<td>2018-01-15 11:31</td>
                        <td>页面无法访问</td>
                        <td>2018-01-15 11:31</td>
                        <td>2018-01-15 11:31</td>
                        <td>admin</td>
                        <td>系统故障</td>
                        <td>I级</td>
                        <td><a href="#">查看</a></td>
					</tr>
                	<tr class="table-hover">
						<td>1</td>
						<td>web1宕机</td>
						<td>2018-01-15 11:31</td>
                        <td>页面无法访问</td>
                        <td>2018-01-15 11:31</td>
                        <td>2018-01-15 11:31</td>
                        <td>admin</td>
                        <td>系统故障</td>
                        <td>I级</td>
                        <td><a href="#">查看</a></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}