{% extends 'base.html' %}

{% block title %}主机列表{% endblock %}

{% block head %}

<style>
.divll{ float:left}
</style>

{% endblock %}

{% block main %}
<header class="header">
        <h1>主机列表</h1>
        <hr>
</header>



  <div class="panel panel-default" style="box-shadow:0px 0px 25px #000;width: 1170px;margin: 0 auto;border-radius:25px">
    <div class="panel-heading" style="border-radius:25px 25px 0 0">
     <h3 class="panel-title">Host IP</h3>
    </div>
    <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

      <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

      <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

      <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

      <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

      <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

</div>
    <hr>
    <div class="panel panel-default" style="box-shadow:0px 0px 25px #000;width: 1170px;margin: 0 auto;border-radius:25px">
    <div class="panel-heading" style="border-radius:25px 25px 0 0">
     <h3 class="panel-title">Host IP</h3>
    </div>
    <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

      <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

      <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

      <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

      <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

      <div class="panel-body">
        <div style="width: 280px;float:left;">
      <div style="float:left">ContainerName:</div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Cpu:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
        </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Memory:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
        <div style="width: 280px;float:left;">
      <div style="float:left">Disk:</div>
      <div class="progress divll" style="width: 160px;float:left">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
       </div>
            </div>
  </div>

</div>



    <hr>

{% endblock %}