{% extends 'base.html' %}

{% block title %}主机列表{% endblock %}

{% block head %}{% endblock %}

{% block main %}
<header class="header">

        {% if success %}
        <div class="alert alert-success alert-dismissible" role="alert">{{ success }}</div>
        {% endif %}

        {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
        {% endif %}

    <h1>主机列表</h1>
    <hr>
    <form action="/docker/host_list" method="post">
<p>添加/删除记录</p>
<p>名称：<input type="test" name="hostname"></p>
<p>IP&emsp;： <input type="test" name="ipaddr"></p>
<p>端口：<input type="test" name="port"></p>
        <p><button type="submit" class="btn btn-primary">添加记录</button>&emsp;&emsp;&emsp;<button type="button" class="btn btn-danger">删除记录</button></p>
</form>
</header>
    <div class="container">
 	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>编号</th>
						<th>名称</th>
						<th>IP</th>
                        <th>端口</th>
                        <th>状态</th>
					</tr>
				</thead>
				<tbody>


                    {% for item in items %}

					<tr class="table-hover">
						<td>{{ loop.index }}</td>
						<td>{{ item.hostname }}</td>
						<td>{{ item.hostipaddr }}</td>
                        <td>{{ item.hostport }}</td>
                         <th><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></th>
					</tr>
                    {% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}























