{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block main %}
    <header class="header"><h1>用户列表</h1></header>


 <div class="container">

<div class="user_button" >
<!-- Large modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">修改用户</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
       <div>
      <h1>faslkdjflaskdjf</h1>
        <p>askjdlfkajsldkfjalsdkjflasjdlfjasldjflasjdlfjs</p>
	<p>askjdlfkajsldkfjalsdkjflasjdlfjasldjflasjdlfjs</p>
	<p>askjdlfkajsldkfjalsdkjflasjdlfjasldjflasjdlfjs</p>
	<p>askjdlfkajsldkfjalsdkjflasjdlfjasldjflasjdlfjs</p>
	<p>askjdlfkajsldkfjalsdkjflasjdlfjasldjflasjdlfjs</p>
      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>

    </div>
  </div>
</div>

<!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">注册用户</button>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <div>
      <h1>faslkdjflaskdjf</h1>
        <p>askjdlfkajsldkfjalsdkjflasjdlfjasldjflasjdlfjs</p>
	<p>askjdlfkajsldkfjalsdkjflasjdlfjasldjflasjdlfjs</p>
	<p>askjdlfkajsldkfjalsdkjflasjdlfjasldjflasjdlfjs</p>
	<p>askjdlfkajsldkfjalsdkjflasjdlfjasldjflasjdlfjs</p>
	<p>askjdlfkajsldkfjalsdkjflasjdlfjasldjflasjdlfjs</p>
      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>

    </div>
  </div>
</div>

</div>


	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>编号</th>
						<th>用户</th>
						<th>权限</th>
                        <th>电话</th>
                        <th>邮箱</th>
                        <th>创建时间</th>
                        <th>最后登录</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>

					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>
					<tr class="table-hover">
						<td>1</td>
						<td>admin</td>
						<td>administrator</td>
                        <td>12345678901</td>
                        <td>xujingrui@qq.com</td>
                        <td>2017-01-16 13:45</td>
                        <td>2017-01-16 19:11</td>
                        <td>OnLine</td>
					</tr>











				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}