{% extends 'base.html' %}

{% block title %} 登录日志-DEVOPS{% endblock %}

{% block head %}{% endblock %}

{% block main %}
    <header class="header"><h1>登录日志</h1>
        <hr></header>
 <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>编号</th>
						<th>用户</th>
                        <th>登录地址</th>
						<th>登录时间</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
                {% for item in items %}
					<tr class="table-hover">
						<td>{{ loop.index }}</td>
						<td>{{ item.username }}</td>
						<td>{{ item.ipaddr }}</td>
						<td>{{ item.ctime }}</td>
                        {% if item.status == '登录成功' %}
                        <td><span class="label label-success">{{ item.status }}</span></td>
                        {% else %}
                        <td><span class="label label-danger">{{ item.status }}</span></td>
                        {% endif %}
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}