{% extends 'base.html' %}

{% block title %}用户列表{% endblock %}

{% block head %}{% endblock %}

{% block main %}
    <header class="header">
        {% if success %}
        <div class="alert alert-success alert-dismissible" role="alert">{{ success }}</div>
        {% endif %}

        {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
        {% endif %}

        <h1>用户列表</h1>
        <hr>
    </header>


 <div class="container">

<div>
<!-- Large modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">修改用户</button>&emsp;

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
     <div class="user_button">
      <h1>修改用户</h1>
         <hr>
        <p></p>


         <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">用户</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
</div>

         <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">手机号码</span>
  <input type="text" class="form-control" placeholder="Phone Number" aria-describedby="sizing-addon1">
</div>

         <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">邮箱地址</span>
  <input type="text" class="form-control" placeholder="Mail" aria-describedby="sizing-addon1">
</div>

         <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">密码</span>
  <input type="password" class="form-control" placeholder="password" aria-describedby="sizing-addon1">
</div>

         <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">确认密码</span>
  <input type="password" class="form-control" placeholder="password" aria-describedby="sizing-addon1">
</div>

      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>

    </div>
  </div>
</div>

<!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">注册用户</button>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
        <form  action="/user/user_list" method="post">
     <div class="user_button">

      <h1>注册用户</h1>
         <hr>
        <p></p>


         <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">用户</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" name="username1">
</div>

         <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">手机号码</span>
  <input type="text" class="form-control" placeholder="Phone Number" aria-describedby="sizing-addon1" name="telephone">
</div>

         <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">邮箱地址</span>
  <input type="text" class="form-control" placeholder="Mail addr" aria-describedby="sizing-addon1" name="mail">
</div>

         <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">密码</span>
  <input type="password" class="form-control" placeholder="password" aria-describedby="sizing-addon1" name="password1">
</div>

         <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">确认密码</span>
  <input type="password" class="form-control" placeholder="password" aria-describedby="sizing-addon1" name="password2">
</div>

      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send message</button>
        </div>

             </form>


    </div>
  </div>
</div>

</div>


	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>编号</th>
						<th>用户</th>
						<th>权限</th>
                        <th>电话</th>
                        <th>邮箱</th>
                        <th>创建时间</th>
                        <th>最后登录</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>


                    {% for item in items %}

					<tr class="table-hover">
						<td>{{ loop.index }}</td>
						<td>{{ item.username }}</td>
						<td>administrator</td>
                        <td>{{ item.telephone }}</td>
                        <td>{{ item.mail }}</td>
                        <td>{{ item.ctime }}</td>
                        <td>{{ item.etime }}</td>
                        <td><span class="label label-success">{{ item.status }}</span></td>
					</tr>
                    {% endfor %}






				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}